---
// Required notice: Copyright (c) 2024, Will Shown <ch-ui@willshown.com>
import Logo from './Logo.astro';
---
<style>
  header {
    padding: var(--ch-gap-1);
    background: color(from var(--ch-bg-base) xyz-d65 x y z / .33);
    backdrop-filter: blur(var(--ch-gap-3));
    border-block-end: var(--ch-gap-hairline) solid var(--ch-fg-separator);
    & > a {
      display: inline-block;
      aspect-ratio: 700 / 300;
      height: 100%;
      width: auto;
      padding: var(--ch-gap-2);
      & > svg {
        width: 100%;
        height: auto;
      }
    }
  }
</style>
<header aria-labelledby="banner-label">
  <a class="ch-link logo" href="/">
    <span class="sr-only" id="banner-label">ch-ui</span>
    <svg width="845" height="303" viewBox="0 0 845 303" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M172.267 148.574C172.627 148.039 172.736 147.182 172.808 146.611C173.712 139.467 152.445 124.003 120.728 119.99C73.5836 114.025 19.1515 133.554 11.053 197.556C4.69001 247.843 42.5012 286.302 89.923 292.302C115.638 295.556 144.299 289.313 170.228 270.241C174.084 267.245 175.921 264.284 176.354 260.856C176.608 258.856 176.285 256.783 175.639 254.959C172.268 244.953 169.487 239.375 165.577 229.011C164.007 225.328 161.869 223.897 159.865 223.643C157.296 223.318 154.546 224.422 152.612 225.919C137.311 236.756 122.328 240.375 110.046 238.821C91.474 236.471 79.3541 222.165 81.7764 203.021C85.7172 171.878 110.786 173.308 118.217 174.248C128.217 175.514 137.82 179.922 142.416 184.858C143.459 185.861 144.815 186.613 145.956 186.757C149.388 187.192 152.885 184.731 154.46 181.447L172.267 148.574Z"
        style="fill:var(--ch-illustration-5,#382a47)" />
      <path fill-rule="evenodd" clip-rule="evenodd"
            d="M518.222 199.814C517.365 180.268 516.631 152.613 516.227 137.14C516.102 125.332 520.108 122.986 523.564 122.661C523.838 122.082 568.442 118.441 573.342 118.389C579.101 118.328 581.432 121.184 581.758 124.636C583.693 143.913 584.438 159.458 586.521 193.71C587.933 218.464 596.675 227.012 608.764 226.884C614.524 226.823 621.412 224.734 628.575 221.201L632.714 122.08C632.968 118.621 635.823 116.287 638.983 116.253L696.333 118.813C699.783 118.777 702.123 121.632 702.16 125.088L695.968 274.922C695.715 278.381 692.859 280.715 689.689 280.749L633.219 278.179C619.436 282.646 605.921 285.093 593.251 285.227C583.052 285.336 573.407 283.977 564.655 281.005C537.209 271.687 520.67 255.637 518.222 199.814Z"
            style="fill:var(--ch-illustration-2,#c37d7e)" />
      <path
        d="M781.604 292.334C784.482 292.644 787.549 290.639 788.14 287.82L788.258 287.256L810.062 148.227C810.653 145.409 808.65 142.34 805.832 141.749L805.264 141.63L748.299 132.625C744.864 132.198 742.081 134.263 741.371 137.645L719.627 276.392C719.25 279.55 720.979 282.561 724.082 283.212L724.64 283.329L781.604 292.334ZM825.393 97.592C830.24 74.4789 803.609 9.56273 803.609 9.56273C803.609 9.56273 747.09 57.0387 742.242 80.1517C737.453 102.983 752.157 125.488 775.274 130.337C798.097 135.124 820.604 120.423 825.393 97.592Z"
        style="fill:var(--ch-illustration-1,#efbb94)" />
      <path fill-rule="evenodd" clip-rule="evenodd"
            d="M825.937 88.8787C817.99 93.2288 809.782 95.8703 801.612 95.3866C779.963 94.1043 776.143 60.2195 753.867 59.3795C771.811 36.2744 803.615 9.56306 803.615 9.56306C803.615 9.56306 824.859 61.3456 825.937 88.8787Z"
            style="fill:var(--ch-illustration-3,#a56375)" />
      <path
        d="M392.914 250.15C394.979 248.475 395.594 246.763 395.632 245.323C395.714 242.156 392.631 239.195 390.939 237.71C377.127 226.113 373.755 211.62 373.954 192.899C374.585 135.872 332.243 102.498 278.121 101.083C274.952 101 271.493 100.91 268.037 101.107L269.994 26.2529C270.077 23.086 267.563 20.1392 264.394 20.0564L206.814 18.551C203.355 18.4606 200.69 21.2719 200.608 24.4389L194.451 259.942C194.36 263.397 196.882 266.056 200.341 266.147L257.921 267.652C261.09 267.735 263.747 265.211 263.837 261.756L266.569 157.248L268.009 157.286C288.732 157.828 304.533 170.629 303.622 205.465C302.094 263.909 355.1 275.09 356.249 275.12C358.838 275.188 361.75 274.4 364.977 271.891L392.914 250.15Z"
        style="fill:var(--ch-illustration-4,#824e6b)" />
      <path fill-rule="evenodd" clip-rule="evenodd"
            d="M268.328 89.975C263.957 90.3448 259.909 91.3216 256.589 93.4762C250.517 97.4164 247.965 105.453 246.05 111.995C240.945 129.42 235.82 162.042 212.577 162.93C206.551 163.161 201.438 161.997 197.061 159.81L200.602 24.4379C200.684 21.2704 203.352 18.46 206.812 18.5499L264.392 20.0558C267.552 20.1383 270.072 23.0851 269.991 26.2516L268.328 89.975Z"
            style="fill:var(--ch-illustration-2,#c37d7e)" />
      <path
        d="M412.405 176.824C412.374 175.077 413.257 173.442 414.733 172.509L477.547 132.825C480.843 130.742 485.149 133.066 485.217 136.964L486.111 187.853C486.141 189.6 485.258 191.235 483.782 192.168L420.968 231.852C417.672 233.935 413.367 231.611 413.298 227.713L412.405 176.824Z"
        style="fill:var(--ch-illustration-3,#a56375)" />
    </svg>
  </a>
</header>
