---
// Required notice: Copyright (c) 2024, Will Shown <ch-ui@willshown.com>
---
<style is:global>
  header {
    padding: var(--ch-gap-1);
    padding-inline-end: var(--ch-gap-3);
    background: color(from var(--ch-bg-base) xyz-d65 x y z / .33);
    backdrop-filter: blur(var(--ch-gap-3));
    border-block-end: var(--ch-gap-hairline) solid var(--ch-fg-separator);
    display: flex;
    align-items: center;
    svg {
      block-size: 100%;
      inline-size: auto;
    }
    [role=separator]{
      flex-grow: 1;
    }
    & > a.logo {
      display: inline-block;
      block-size: 100%;
      inline-size: auto;
      padding: var(--ch-gap-2);
    }
    & > a.icon-link {
      padding-inline: var(--ch-gap-2);
      block-size: 100%;
      display: grid;
      place-items: center;
      border-radius: var(--ch-gap-1);
      transition-property: color, background-color;
      transition-duration: 200ms;
      &:hover, &:focus {
        background-color: var(--ch-bg-hover);
      }
      & svg {
        block-size: 1.25rem;
        inline-size: 1.25rem;
      }
    }
  }
</style>
<header aria-labelledby="banner-label">
  <a class="ch-link logo" href="/">
    <span class="sr-only" id="banner-label">ch-ui</span>
    <svg role="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 633.7 135.4">
      <path d="M112.4 48.9c-.4-4.6 3-8.6 7.6-9s8.6 3 9 7.6c.8 9.4.1 18.9-2 28.2-8.5 36.6-42.4 59.7-75.2 52.1S-1.3 84.6 7.2 47.9C13.8 19.3 40.4 1.4 66.1 7.3s41.7 33.7 35 62.4C96.3 90.4 77 103.2 58.5 98.9S28.3 74.7 33.1 54C36 41.3 48 33.7 59.4 36.3s18.8 14.8 15.8 27.5c-1 4.5-5.5 7.3-10 6.2-4.5-1-7.3-5.5-6.2-10 .8-3.3-.4-6.8-3.4-7.5-2.9-.7-5.5 1.9-6.3 5.2-2.6 11.3 2.9 22.6 13 24.9s20-5.4 22.6-16.7c4.4-19.2-5.3-38.4-22.6-42.4-17.2-4-34.4 8.9-38.9 28.2-6.3 27.2 7.8 54.2 32.2 59.8s48.9-12.4 55.2-39.6c1.8-7.6 2.3-15.4 1.6-23m.6-39.1c6.4 0 11.6 5.2 11.6 11.6S119.4 33 113 33s-11.6-5.2-11.6-11.6S106.6 9.8 113 9.8" fill-rule="evenodd" fill="currentColor"/>
      <path d="M265.6 39.3h-28.1c-15.7 0-28.4 12.7-28.4 28.4s12.7 28.4 28.4 28.4h28.1M297.7 39.3V96M354.3 39.3V96M354.3 67.7h-56.7M412.7 64.2l-26.5 7M444.7 39.4v28.1c0 15.7 12.7 28.4 28.4 28.4s28.4-12.7 28.4-28.4V39.4M533.5 95.9h56.7M533.5 39.3h56.7M561.8 39.3V96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="14"/>
    </svg>
  </a>
  <div role='separator'/>
  <a class="ch-link icon-link" href="https://github.com/ch-ui-dev/ch-ui">
    <span class="sr-only">ch-ui repository on Github</span>
    <svg style="inline-size:1em;block-size:1em;"><use href="/icons.svg#ph--github-logo--bold"/></svg>
  </a>
</header>
