---
// Required notice: Copyright (c) 2024, Will Shown <ch-ui@willshown.com>
import elementsDocs from '@ch-ui/elements/docs';
import ThemeEditor from './ThemeEditor.astro';
---
<nav>
  <h2><a class="ch-link" href="/theme">Theme</a></h2>
  <ul>
    <li><a class="ch-link" href="/theme/colors">Colors</a></li>
  </ul>
  <h2><a class="ch-link" href="/elements">Elements</a></h2>
  <ul>
    {elementsDocs.components.map(({ tag }) => {
      return <li>
        <a class="ch-link" href={`/elements/${tag}`}>{tag}</a>
      </li>;
    })}
  </ul>
  <ThemeEditor/>
</nav>
