# Logs
*.log

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
!*/gravity/**/.env

# macOS temporary files
.DS_Store

# Build outputs
dist
out
lib
build
tmp
.vite-inspect

# IntelliJ IDEA
.idea/workspace.xml

# Custom certificates
*.pem

# NX
.nx