---
// Required notice: Copyright (c) 2024, Will Shown <ch-ui@willshown.com>
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
import Banner from '../components/Banner.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang={Astro.currentLocale ?? 'en'}>
  <Head title={title}>
    <style is:global>
      body {
        position: fixed;
        inset: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content 1fr;
        @media (min-width: 120ch) {
          grid-template-columns: min-content 1fr;
          grid-template-rows: min-content 1fr;
        }
        & > header {
          @media (min-width: 120ch) {
            grid-column: span 2;
          }
        }
        & > nav {
          grid-row-start: 2;
          overflow-x: hidden;
          overflow-y: auto;
        }
        & > main {
          grid-row: 3 / -1;
          overflow-x: hidden;
          overflow-y: auto;
          @media (min-width: 120ch) {
            grid-row: 2 / -1;
            grid-column: 2 / -1;
          }
        }
      }
    </style>
  </Head>
  <body>
    <Banner />
    <Nav />
    <main>
      <slot/>
    </main>
  </body>
  <script>
    import { persistentAtom } from '@nanostores/persistent'
    import { defaultTheme, renderTheme } from '@ch-ui/theme';

    const userTheme = persistentAtom(
      'userTheme',
      `@layer user-theme {${renderTheme(defaultTheme)}}`
    );

    const userThemeNode = document.createElement('style');
    userThemeNode.id = 'user-theme';
    userThemeNode.textContent = userTheme.get();
    document.head.appendChild(userThemeNode);

    userTheme.subscribe((value)=>{
      userThemeNode.textContent = value;
    })
  </script>
</html>
