---
// Required notice: Copyright (c) 2024, Will Shown <ch-ui@willshown.com>
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
import Banner from '../components/Banner.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang={Astro.currentLocale ?? 'en'}>
  <Head title={title}>
    <style is:global>
      body {
        position: fixed;
        inset: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content 1fr;
        @media (min-width: 120ch) {
          grid-template-columns: min-content 1fr;
          grid-template-rows: min-content 1fr;
        }
        & > header {
          padding: var(--ch-gap-1);
          @media (min-width: 120ch) {
            grid-column: span 2;
          }
        }
        & > nav {
          padding: var(--ch-gap-2);
          grid-row-start: 2;
          overflow-x: hidden;
          overflow-y: auto;
        }
        & > main {
          padding: var(--ch-gap-2);
          grid-row: 3 / -1;
          overflow-x: hidden;
          overflow-y: auto;
          @media (min-width: 120ch) {
            padding: var(--ch-gap-3);
            grid-row: 2 / -1;
            grid-column: 2 / -1;
          }
        }
      }
      .prose {
        max-inline-size: 100ch;
        margin-inline-start: auto;
        margin-inline-end: auto;
      }
    </style>
  </Head>
  <body>
    <Banner />
    <Nav />
    <main>
      <div role="none" class="prose">
        <slot/>
      </div>
    </main>
  </body>
</html>
