/* Required notice: Copyright (c) 2024, Will Shown <ch-ui@willshown.com> */

@layer tokens, user-tokens, utilities, elements;

@layer tokens {
  @chui app-astro;
}

:root {
  font-size: 16px;
  font-family: sans-serif;
  background: var(--ch-bg-base);
  color: var(--ch-fg-base);
}

body {
  font-size: var(--ch-text-size-base);
  line-height: var(--ch-system-leading-base);
}
