---
// Required notice: Copyright (c) 2024, Will Shown <ch-ui@willshown.com>
import elementsDocs from '@ch-ui/elements/docs';
import { ChIcon } from '../components/Elements.jsx';
---
<nav>
  <ChIcon sprite="/icons.svg" symbol="ph--address-book--regular" />
  <h1><a class="ch-link" href="/">ch—ui</a></h1>
  <h2>Elements</h2>
  <ul>
    {elementsDocs.components.map(({ tag }) => {
      return <li>
        <a class="ch-link" href={`/elements/${tag}`}>{tag}</a>
      </li>;
    })}
  </ul>
</nav>
